<nav class="navbar navbar-expand-lg genbridge-navbar">
  <div class="container">
    
<a class="navbar-brand genbridge-brand-wrap">
  <img src="{{ url_for('static', filename='GenBridge.png') }}"
       class="genbridge-logo-only"
       alt="Genbridge Logo">

  <span class="genbridge-wordmark">GenBridge</span>
</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="mainNav">
  <div class="ms-auto d-flex align-items-center gap-3">

    <ul class="navbar-nav genbridge-navlinks-right align-items-lg-center">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle genbridge-toplink"

           role="button"
           data-bs-toggle="dropdown">
          Events &amp; Activities
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" >Upcoming Events</a></li>
          <li><a class="dropdown-item" >My Booking</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle genbridge-toplink"
           href="#"
           role="button"
           data-bs-toggle="dropdown">
          Stories
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Coming soon</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle genbridge-toplink"
           href="#"
           role="button"
           data-bs-toggle="dropdown">
          Communities
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Coming soon</a></li>
        </ul>
      </li>

    </ul>

    <a class="btn genbridge-mybooking-btn">My Booking</a>
    <a class="btn genbridge-login-btn" href="{{ url_for('profile') }}">
    View Profile</a>
  </div>
</div>


  </div>
</nav>

