<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Create Account</title>

    {# CSS #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
</head>

{# ---------------------------
   Flash + query-state setup
   --------------------------- #}
{% set qmsg = request.args.get('msg') %}
{% set success = get_flashed_messages(category_filter=['success']) %}
{% set server_errors = get_flashed_messages(category_filter=['error']) %}
{% set signin_errors = get_flashed_messages(category_filter=['signin_error']) %}

{# Detect "Email already has an account" to show inline error #}
{% set ns = namespace(email_exists=false) %}
{% for m in server_errors %}
    {% if m == "Email already has an account" %}
        {% set ns.email_exists = true %}
    {% endif %}
{% endfor %}

{# If backend asked to open sign-in modal (show_signin=1) OR sign-in errors exist #}
{% set should_open_signin = (show_signin|default(false)) or (signin_errors and signin_errors|length > 0) %}

<body data-open-signin="{{ '1' if should_open_signin else '0' }}">

    {# Toast #}
    {% if qmsg == 'signed_out' %}
        <div class="gb-toast" id="gbToast">You have been signed out</div>
    {% elif qmsg == 'deleted' %}
        <div class="gb-toast" id="gbToast">Account deleted successfully</div>
    {% elif success and success|length > 0 %}
        <div class="gb-toast" id="gbToast">{{ success[0] }}</div>
    {% endif %}

    <div class="wrap">
        {% include "partials/create_account/_left.html" %}

        {% include "partials/create_account/_right.html" %}
    </div>

    {# Sign in modal (popup) #}
    {% include "partials/create_account/_sign_in_modal.html" %}

    {# JS #}
    <script src="{{ url_for('static', filename='js/create_account.js') }}"></script>
</body>
</html>
