{% extends "base.html" %}
{% block title %}Post Creation{% endblock %}
{% block content %}
{% from "includes/_postHelper.html" import render_field %}

<div class="back-button-holder">
    <a href="{{ url_for('stories') }}" class="back-button">←</a>
</div>

<h5 id="createpost-title">Create/Edit Post</h5>

<form method="POST" action="" class="create-post" enctype="multipart/form-data">
    <div class="form-group">
        {{ render_field(form.post_title, class="form-control") }}
    </div>

    <div class="form-group">
        {{ render_field(form.post_content, class="form-control") }}
    </div>

    <div id="prof">
        <div class="form-group">
            {{ render_field(form.post_tags, class="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Images</label>
        <input
            type="file"
            name="images"
            class="form-control"
            accept="image/png,image/jpeg,image/gif,image/webp"
            multiple
        >
        <small class="text-muted">You can select multiple images.</small>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
